.character {
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 5px;
  min-width: 150px;
  min-height: 50px;
  box-shadow: 5px 5px 10px #1f7c1f;
  position: relative;
  cursor: pointer;
  padding: 8px;
}

.character .content {
  width: 100%;
  height: 100%;
}

.character:hover .content {
  position: absolute;
  top: 9px;
  left: 9px;
}

.character .data {
  margin-bottom: 5px;
}
